body {
  background-image: url("../img/index.jpg");
  background-size:cover;
  background-attachment: fixed;
  background-position: center top;
  background-repeat: no-repeat;
}
/* =================================== LOGO ================================ */
.logo {
  position: fixed;
  top: 27vh;
  left: 35vw;
  width: 30vw;
}

/* ================================ NAVBAR ================================ */
#burger {
  display: none;
  transition-duration: 200ms;
}

.wrapper {
  width: 600px;
  margin: auto;
}

.index-nav-item {
  display: inline-block;
  width: 120px;
  float: left;
  font-size: 20px;
  font-family: "Lato";
  font-weight: 700;
  color: #512d1d;
  border-bottom: 1px solid #512d1d;
  padding: 10px;
  transition-duration: 300ms;
}

.index-nav-item:hover {
  border-bottom: 3px solid #512d1d;
}

.index-social {
  position: absolute;
  bottom: 20px;
  right: 0;
  font-size: 20px;
  color: #ccc;
}

@media only screen and (max-width: 768px) {
  #main-page, .index-social {
    display: block;
  }

  #burger {
    background-color: #512d1d;
    display: block;
  }

  nav, .index-social {
    display: none;
  }

  .logo {
    top: 35vh;
    left: 10vw;
    width: 80vw;
  }
}
