body {
  background-image: url("../img/index.jpg");
}

.logo {
  position: fixed;
  top: 27vh;
  left: 35vw;
  width: 30vw;
}

.nav--desktop .nav__item {
  color: #413d2d;
  box-shadow: inset 0px -1px 0px 0px #413d2d;
}

.nav--desktop .nav__item:hover {
  box-shadow: inset 0px -3px 0px 0px #413d2d;
}
