/* ============================== OVERALL ================================= */

body
{
  margin: 0;
  font-family: 'Lato';
  font-weight: 400;
}
video
{
  margin: 0;
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  left: 50%;
  top: 50%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}
::-webkit-scrollbar
{
    display: none;
}


/* ======================= MAIN PAGE HYPERLINK ========================== */
#main-page
{
  height: 42px;
  width: 42px;
  position: fixed;
  left: 3vh;
  top: 3vh;
  z-index: 1;
  border: 1px solid rgba(255, 255, 255, 0.85);
  text-align: center;
  animation: show 1s ease-in;
  transition: 500ms;
  color: #fff;
  opacity: 0.9;
  background-color: #211408;
}
#main-page:hover
{
  cursor: pointer;
}

/* =============================== BURGER ================================== */
#burger
{
  height: 42px;
  width: 42px;
  position: fixed;
  right: 3vh;
  top: 3vh;
  border: 1px solid #fff;
  transition: 300ms;
  animation: show 1s ease-in;
  z-index: 4;
  opacity: 0.9;
  background-color: #211408;
}
.burger-item
{
  height: 2px;
  width: 22px;
  margin-top: 5px;
  margin-left: 10px;
  background-color: rgba(255, 255, 255, 0.85);
  transition: 300ms;
}
.burger-item:nth-child(1)
{
  margin-top: 12px;
}

#burger:hover
{
  cursor: pointer;
}

@keyframes show
{
  0% {opacity: 0;}
  25% {opacity: 0.1;}
  50% {opacity: 0.2;}
  75% {opacity: 0.5;}
  100% {opacity: 1}
}
/* ================================ NAVBAR ================================ */
a, a:visited, a:hover, a:active, a:focus
{
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
.container-fluid
{
  margin: 0;
}

#navbar
{
  position: fixed;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  width: 0%;
  height: 100%;
  overflow: hidden;
  font-family: 'Poiret One', sans-serif;
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: bold;
  transition: 0.5s;
  color: #fff;
}
.nav-item
{
  background-color: rgba(53,36,23,0.98);
  padding: 30px 0 20px 0;
  margin: 0;
  height: 15vh;
}
.nav-item:hover
{
  background-color: rgba(53,36,23,0.9);
}
.nav-item .desc
{
  font-size: 12px;
  font-family: 'Lato', cursive;
  letter-spacing: 2px;
  font-weight: 400;
}
.nav-item p
{
  margin-top: 20px;
  font-size: 10px;
  font-family: 'Lato';
  font-weight: 400;
  letter-spacing: 1px;
}

/* =============================== CLOSE BUTTON ============================ */
.closebtn
{
  height: 42px;
  width: 42px;
  position: fixed;
  z-index: 5;
  display: none;
  right: 3vh;
  top: 3vh;
  border: 1px solid #fff;
  font-size: 50px;
  text-align: center;
  padding: 0;
}

.burger-item2
{
  height: 2px;
  width: 29px;
  margin-top: 3px;
  margin-left: 10px;
  background-color: rgba(255, 255, 255, 0.85);
  transition: 300ms;
}
.burger-item2:nth-child(1)
{
  transform: rotate(45deg) translate(9px, 14px);
}
.burger-item2:nth-child(2)
{
  transform: rotate(-45deg) translate(-11px, 5px);
}

/* ============================= SOCIAL MEDIA ============================== */
i
{
  width: 50px;
}
h2
{
  font-family: 'Poiret One';
  font-size: 28px;
}
h3
{
  font-size: 13px;
  font-weight: 700;
  font-family: 'Open Sans';
  padding: 0;
  letter-spacing: 6px;
  color: #d67437;
}
h4
{
  font-weight: 300;
}
