/*-------------------------------------------*\
                  variables
\*-------------------------------------------*/

$font-family-text: 'Open Sans', sans-serif;
$font-family-header: 'Poiret One', cursive;

$font-size-small: 1.2rem;
$font-size-text: 1.4rem;
$font-size-regular: 1.6rem;
$font-size-large: 2rem;
$font-size-x-large: 2.4rem;

$color-white: #fff;
$color-gray: #ccc;
$color-orange: #d67437;
$color-brown: #110a04;
$color-dark-brown: #352417;


/*-------------------------------------------*\
                   general
\*-------------------------------------------*/

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

* {
  box-sizing: inherit;
}

body#index-page {
  background-image: url("../img/index.jpg");
}
body#about-page {
  background-image: url("../img/about.jpg");
}
body#coffee-page {
  background-image: url("../img/coffee.jpg");
}
body#menu-page {
  background-image: url("../img/menu.jpg");
}
body#careers-page {
  background-image: url("../img/careers.jpg");
}
body#contact-page {
  background-image: url("../img/contact.jpg");
}

body {
  margin: 0;

  font-family: $font-family-text;
  font-weight: 400;

  background-attachment: fixed;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  margin: 4.6rem 0 0;
  font-family: $font-family-header;
  font-size: $font-size-x-large;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h2 {
  margin: 2em 0 .5em;
  padding: 0;

  font-size: $font-size-text;
  font-weight: 700;
  color: $color-orange;
  text-transform: uppercase;
  letter-spacing: 6px;
}

ul {
  padding: 0;
  margin: 0;
  text-align: left;
}

a:link,
a:visited,
a:hover,
a:active,
a:focus {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

i {
  padding: 0 20px;
}

/*-------------------------------------------*\
                 navigation
\*-------------------------------------------*/

.homepage-link {
  position: fixed;
  left: 2vh;
  top: 2vh;
  z-index: 2;
}

.nav-btn {
  position: fixed;
  top: 3vh;
  right: 3vh;
  z-index: 4;

  display: none;
  height: 42px;
  width: 42px;

  border: 1px solid $color-white;
  background-color: $color-brown;

  font-size: 24px;
  color: $color-white;
  text-align: center;
  line-height: 40px;

  cursor: pointer;

  i {
    padding: 0;
  }
}

.nav-btn--open {
  display: block;
}

.nav-background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  width: 100%;
  height: 12vh;

  background: rgba($color-brown, .8);
  background: linear-gradient(to bottom, rgba($color-brown, .8) 0%, rgba($color-brown, .6) 50%, rgba($color-brown, .3) 75%, rgba($color-brown, .05) 95%, rgba($color-brown, 0) 100%);
}

.nav--desktop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;

  display: none;
  width: 600px;
  padding: 0;
  margin: auto;

  .nav__item {
    float: left;
    display: inline-block;
    width: 120px;
    padding: 10px;
    box-shadow: inset 0px -1px 0px 0px rgba($color-white, 1);
    font-size: $font-size-regular;
    font-weight: 600;
    color: $color-white;
    text-align: center;
    transition-duration: .3s;
  }

  .nav__item:hover,
  .nav--desktop .nav__item--active {
    box-shadow: inset 0px -3px 0px 0px rgba($color-white, 1);
  }
}

.nav--mobile {
  position: fixed;
  top: 0;
  right: -100%;

  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;

  font-family: $font-family-header;
  font-size: 20px;
  letter-spacing: 3px;
  transition: 400ms;
  color: $color-white;
  z-index: 3;

  .nav__item {
    opacity: 0;
    background-color: rgba($color-dark-brown, .98);
    padding: 30px 0 20px 0;
    margin: 0;
    height: 15vh;
    text-transform: uppercase;
    text-align: center;
    transition: 400ms;

    &:hover {
      background-color: rgba($color-dark-brown, 1);
    }

    .desc {
      font-family: $font-family-text;
      font-size: $font-size-small;
      text-transform: lowercase;
      letter-spacing: 2px;
    }

    p {
      margin-top: 20px;
      font-family: $font-family-text;
      font-size: $font-size-small;
      letter-spacing: 1px;
    }
  }

  .nav__item--tall {
    height: 25vh;
    padding-top: 70px;

    &:hover {
      background-color: rgba($color-dark-brown, 1);
    }
  }
}


/*-------------------------------------------*\
                   content
\*-------------------------------------------*/

.socials {
  display: none;
  position: absolute;
  bottom: 20px;
  right: 0;
  font-size: 20px;
  color: $color-gray;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;

  min-height: 76vh;
  background-color: rgba($color-brown, 0.85);

  color: $color-white;
  text-align: center;
  font-size: $font-size-text;

  .subheader {
    margin-top: 40px;
  }

  .column {
    width: 100%;
    padding: 0 30px;
  }

  a {
    text-decoration: underline;
  }
}

#index-page {
  .logo {
    position: fixed;
    top: 27vh;
    left: 15vw;
    width: 70vw;
  }

  .nav--desktop .nav__item {
    color: $color-dark-brown;
    box-shadow: inset 0px -1px 0px 0px $color-dark-brown;
  }

  .nav--desktop .nav__item:hover {
    box-shadow: inset 0px -3px 0px 0px $color-dark-brown;
  }
}

#careers-page main > p:last-child,
#contact-page main {
  text-align: left;
}

#index-page main,
#about-page main,
#coffee-page main,
#menu-page main,
#careers-page main,
#contact-page main {
  width: 95vw;
  padding: 5vh 20px 20px;
  margin: 2vh auto;
}

.map {
  width: 100%;
  margin-top: 4rem;
}

/*-------------------------------------------*\
                responsiveness
\*-------------------------------------------*/

@media only screen and (min-width: 769px) {
  .nav-btn--open,
  .nav--mobile {
    display: none;
  }

  .nav--desktop,
  .socials {
    display: block;
  }

  #index-page .logo {
    left: 35vw;
    width: 30vw;
  }

  main .column {
    width: 50%;
  }

  main {
    width: 65vw;
    margin: 14vh auto 10vh;
    padding: 5vh 10%;
  }

  #about-page main {
    padding: 5vh 10%;
  }

  #coffee-page main,
  #menu-page main {
    padding: 10px 10px 50px 10px;
  }

  #careers-page main {
    padding: 0px 7% 50px;
  }

  #careers-page main > p:last-child {
    width: 100%;
    margin-top: 60px;
  }

  #contact-page main {
    padding: 5vh 50px 30px;
  }

}
